* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
}

header {
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, .5);
    padding: 12px;
    background-color: #dbdbdb;
    transition: all .5s;
}

header:hover {
    background-color: #cacaca;
}

.task-input-form {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.task-input,
.task-input-submit {
    padding: 8px 12px;
    border: none;
    outline: none;
    border-radius: 6px;
}

.task-input {
    width: 100%;
    max-width: 600px;
    transition: all .5s;
}

.task-input:active,
.task-input:focus,
.task-input:hover {
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
}

.task-input-submit {
    cursor: pointer;
    transition: all .5s;
}

.task-input-submit:hover {
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
}

main {
    padding: 12px;
}

.task-items {
    padding: 0;
    list-style-type: none;
}

.task-item {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-top: 8px;
    transition: all .5s;
    align-items: center;
    border-radius: 8px;
}

.task-item:hover {
    background-color: #cacaca;
}

.task-text-input-variant {
    border: none;
    outline: none;
    padding: 8px 0;
    margin: 8px 0;
    width: 50%;
    border-radius: 8px;
}

.item-status-bar {
    display: flex;
    gap: 8px;
}

.completed {
    transition: all .5s;
    background-color: #b9ffb7 !important;
}

.completed:hover {
    background-color: #6cff67 !important;
}